// variables & mixings
@import 'variables';
// fonts
@font-face {
  font-family: "sourcesans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/regular.svg#sourcesans-regular") format("svg");
}

@font-face {
  font-family: "sourcesans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/semibold.svg#sourcesans-semibold") format("svg");
}

@font-face {
  font-family: "sourcesans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/bold.svg#sourcesans-bold") format("svg");
}

@font-face {
  font-family: "sourcesans-light";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/sourcesanspro/light.svg#sourcesans-light") format("svg");
}

@font-face {
  font-family: "opensans-regular";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/regular.svg#opensans-regular") format("svg");
}

@font-face {
  font-family: "opensans-semibold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/semibold.svg#opensans-semibold") format("svg");
}

@font-face {
  font-family: "opensans-bold";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/open-sans/bold.svg#opensans-bold") format("svg");
}

@font-face {
  font-family: "cern-icons";
  src: url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.eot?") format("eot"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff2") format("woff2"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.woff") format("woff"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.ttf") format("truetype"), url("//framework.web.cern.ch/framework/3.0/fonts/cern/cern.svg#cern-icons") format("svg");
}

//
//* ****************************************** divisions component */
.component-gallery {
  .owl-stage {
    @include flexbox;
    position: relative;
    .owl-item {
      @include flexbox;
      min-height: 100%;
      opacity: 0;
      &.active {
        opacity: 1;
        @include flexbox;
      }
    }
  }
  &__item {
    @include flexbox;
    min-height: 100%;
    min-width: 100%;
    padding-bottom: 35px; // &.active {
    //   display: block !important;
    // }
  }
  &__image {
    @include flexbox;
    min-height: 100%;
    min-width: 100%;
    img {
      max-width: 100%;
      max-height: 500px;
      width: auto !important;
      height: auto !important;
      top: auto !important;
      position: relative;
    }
    &__wrapper,
    figure {
      @include flexbox;
      @include align-items(center);
      @include align-content(center);
      @include justify-content(center);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      min-height: 100%;
      min-width: 100%;
      height: auto !important;
      margin-bottom: 0 !important;
      img {
        margin: 0 !important;
        position: relative;
      }
      a {
        span.cds-background {
          position: absolute !important;
          width: 300px !important;
          height: 250px !important;
          top: calc(50% - 125px);
          left: calc(50% - 150px);
          min-height: 10px !important;
        }
      }
      figcaption {
        @include opacity(0);
        padding: 5px;
        min-width: 200px;
      }
    }
  }
  &__link {
    left: 5px;
    min-width: 100%;
    position: absolute;
    bottom: 0;
    label {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      padding: 0 0 0 20px;
      position: relative;
      &::before {
        @include font-size(3.6);
        font-family: "cern-icons";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: normal;
        content: '\q';
        display: inline-block;
        position: absolute;
        top: -3px;
        left: 3px;
        line-height: 25px;
        width: 16px;
        text-indent: -11px;
      }
    }
    a {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      margin: 0 10px;
      position: relative;
      &::before {
        background: #292929;
        content: "";
        display: block;
        height: 10px;
        left: -14px;
        position: absolute;
        width: 1px;
        top: 4px;
      }
      &.component-gallery__link__first {
        &::before {
          display: none;
        }
      }
    }
    &.component-gallery__link__first {
      &::before {
        display: none;
      }
    }
  }
}

.owl-thumbs {
  margin: 0 0 0 -5px;
  display: inline;
}

button.owl-thumb-item {
  background: none;
  border: 0;
  padding: 0;
  width: 120px;
  height: 100px;
  margin: 5px 5px 10px;
  overflow: hidden;
  position: relative;
  img {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .component-gallery {
    .owl-stage .owl-item .component-gallery__item .component-gallery {
      &__link {
        label {
          &::before {
            top: -10px;
            left: 10px;
          }
          span {
            display: none;
          }
        }
        a {
          margin: 0 8px;
          &::before {
            left: -11px;
            top: 4px;
          }
        }
      }
    }
    button.owl-thumb-item {
      width: 60px;
      height: 50px;
    }
  }
}
