/* .cern-view-display-page {
  .view-content {
    h1,
    h2,
    h3,
    h4 {
      @include transition(all 0.3s ease-in-out 0s);
    }
    a {
      @include transition(all 0.3s ease-in-out 0s);
    }
  }
} */
.cern-page-display-page > h2,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) > h2 {
  margin: 3rem 0 !important;
}

.cern-page-display-page .views-exposed-form .form-inline,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline {
  margin: 0 -10px;
}

.cern-page-display-page .views-exposed-form .form-inline .form-item,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item {
  vertical-align: top;
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:first-child,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:first-child {
  display: block;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child,
  .cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:first-child {
    padding: 0 10px;
  }
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:first-child > input,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:first-child > input {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 40px;
  padding-left: 40px;
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:first-child select,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:first-child select {
  width: 98%;
  padding-left: 40px;
}

@media only screen and (max-width: 767px) {
  .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child select,
  .cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:first-child select {
    width: 100%;
  }
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:first-child:before,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:first-child:before {
  content: 'O';
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 8px;
  width: 25px;
  height: 25px;
  top: 8px;
  text-align: center;
  line-height: 21px;
  font-weight: 500;
  padding-right: 2px;
  font-size: 46px;
  color: #0855a0;
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:first-child label,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:first-child label {
  display: none;
}

.cern-page-display-page .views-exposed-form .form-inline .form-item > input,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item > input {
  display: block;
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child),
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:not(:first-child) {
  width: calc((100% / 4) - 30px);
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  .cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child),
  .cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:not(:first-child) {
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child) input,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:not(:first-child) input {
  width: 100%;
}

.cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child) div.select-wrapper select,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-item:not(:first-child) div.select-wrapper select {
  width: 100%;
}

.cern-page-display-page .views-exposed-form .form-inline .form-actions,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-actions {
  width: calc((100% / 4) - 40px);
  margin: 10px;
  vertical-align: bottom;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .cern-page-display-page .views-exposed-form .form-inline .form-actions,
  .cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-actions {
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}

.cern-page-display-page .views-exposed-form .form-inline .form-actions button,
.cern-view-display-page:not(.view-general-search):not(.cern-view-display-resources):not(.resources-mosaic):not(.cern-view-display-feature_events):not(.cern-view-display-past_events):not(.cern-view-display-all_news):not(.cern-view-display-faq_page):not(.cern-view-display-page_taxonomies) .views-exposed-form .form-inline .form-actions button {
  width: 100%;
}
