@charset "UTF-8";
/* TODO: Move to ¿? */
.faq-node-footer-content .views-element-container {
  margin-bottom: 0; }

.cern-view-display-more_faq .view-header h1,
.cern-view-display-more_faq .view-header h2,
.cern-view-display-more_faq .view-header h3,
.cern-view-display-more_faq .view-header h4 {
  text-align: center;
  font-family: 'opensans-bold';
  font-size: 32px;
  margin: 40px 0 20px; }
.cern-view-display-more_faq .view-footer {
  margin-top: calc(3rem + 8px); }
  .cern-view-display-more_faq .view-footer a {
    text-align: right;
    margin: 20px 0 20px;
    position: relative;
    padding-right: 15px;
    font-weight: bold;
    display: block; }
    .cern-view-display-more_faq .view-footer a:hover, .cern-view-display-more_faq .view-footer a:active, .cern-view-display-more_faq .view-footer a:focus {
      text-decoration: none; }
    .cern-view-display-more_faq .view-footer a:after {
      -webkit-transition: all 0.6s ease-in-out 0s;
      -khtml-transition: all 0.6s ease-in-out 0s;
      -moz-transition: all 0.6s ease-in-out 0s;
      -ms-transition: all 0.6s ease-in-out 0s;
      -o-transition: all 0.6s ease-in-out 0s;
      transition: all 0.6s ease-in-out 0s;
      content: '\j';
      font-size: 40px;
      font-size: 4rem;
      font-family: "cern-icons";
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      vertical-align: bottom;
      position: absolute;
      top: 1px;
      right: 0px;
      left: auto;
      line-height: 19px;
      width: 9px;
      text-indent: -16px; }
    .cern-view-display-more_faq .view-footer a:hover:after {
      right: -5px; }
.cern-view-display-more_faq .view-content {
  margin: 0 -10px; }
  .cern-view-display-more_faq .view-content:before, .cern-view-display-more_faq .view-content:after {
    content: " ";
    display: table;
    box-sizing: border-box; }
  .cern-view-display-more_faq .view-content:after {
    clear: both; }
  .cern-view-display-more_faq .view-content .views-row {
    width: calc(33.33% - 20px);
    margin: 0 10px;
    background: #ccc;
    float: left;
    padding: 10px 10px 40px 50px;
    height: 200px;
    overflow: hidden;
    position: relative;
    min-height: 210px;
    flex-flow: column;
    display: flex;
    justify-content: end; }
    .cern-view-display-more_faq .view-content .views-row .faq-cards__veil {
      -webkit-transition: all 0.4s ease-in-out 0s;
      -khtml-transition: all 0.4s ease-in-out 0s;
      -moz-transition: all 0.4s ease-in-out 0s;
      -ms-transition: all 0.4s ease-in-out 0s;
      -o-transition: all 0.4s ease-in-out 0s;
      transition: all 0.4s ease-in-out 0s;
      background-color: rgba(0, 0, 0, 0);
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
      background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
      background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
      background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
      background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(0, 0, 0, 0)', endColorStr='rgba(0, 0, 0, 0.9)');
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 0; }
    .cern-view-display-more_faq .view-content .views-row:hover .faq-cards__veil {
      opacity: 0; }
    .cern-view-display-more_faq .view-content .views-row > div {
      position: absolute;
      bottom: 20px;
      padding-right: 10px; }
      .cern-view-display-more_faq .view-content .views-row > div h3 a {
        font-size: 2rem;
        font-family: sourcesans-semibold;
        font-weight: 500;
        color: white;
        position: relative;
        line-height: 26px;
        display: block; }
        .cern-view-display-more_faq .view-content .views-row > div h3 a:hover, .cern-view-display-more_faq .view-content .views-row > div h3 a:active, .cern-view-display-more_faq .view-content .views-row > div h3 a:focus {
          text-decoration: none;
          color: white; }
        .cern-view-display-more_faq .view-content .views-row > div h3 a:before {
          -webkit-transition: all 0.3s ease-in-out 0s;
          -khtml-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          content: 'j';
          font-family: "cern-icons";
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          font-size: 40px;
          font-size: 4rem;
          position: absolute;
          left: -3.5rem;
          top: -2px;
          color: darkorange;
          line-height: 26px; }
        .cern-view-display-more_faq .view-content .views-row > div h3 a:hover:before {
          left: -2.5rem; }

@media only screen and (max-width: 991px) {
  .cern-view-display-more_faq .view-content .views-row > div h3 a {
    font-size: 1.8rem; }

  .block-views-blockfaq-more-faq {
    margin: 0 -3% 30px; } }
@media only screen and (max-width: 767px) {
  .block-views-blockfaq-more-faq {
    margin: 0 auto 30px; }

  .cern-view-display-more_faq .view-content {
    margin: 0; }
    .cern-view-display-more_faq .view-content .views-row {
      float: none;
      width: 100%;
      height: auto;
      margin: 10px 0 0 0;
      padding: 10px 10px 15px 50px; }
      .cern-view-display-more_faq .view-content .views-row > div {
        position: relative;
        top: 0;
        left: auto; } }
.cern-view-display-page.cern-view-display-faq_page > h2 {
  margin: 3rem 0 !important; }
.cern-view-display-page.cern-view-display-faq_page .pagination-container.centered {
  text-align: right; }
.cern-view-display-page.cern-view-display-faq_page .view-filters {
  width: 100%;
  margin: 0 auto; }
  .cern-view-display-page.cern-view-display-faq_page .view-filters form {
    /* width: 50%; */ }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-actions {
      /* display: none; */
      margin: 0 0 0 5%;
      width: calc(20% - 8px);
      vertical-align: bottom; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-actions button {
        width: 100%; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child {
      width: 100%;
      position: relative; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child input,
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child select {
        width: 100%;
        height: 40px;
        padding-left: 30px;
        padding-left: 40px;
        margin-bottom: 15px; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child:before {
        content: 'O';
        font-family: "cern-icons";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        left: -2px;
        width: 25px;
        height: 25px;
        top: 8px;
        text-align: center;
        line-height: 21px;
        font-weight: 500;
        padding-right: 2px;
        font-size: 46px;
        color: #0855a0; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(2) {
      margin: 0 0 0 10%;
      width: 30%; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(2) input,
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(2) select {
        width: 100%; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(3) {
      margin: 0 0 0 5%;
      width: 30%; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(3) input,
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(3) select {
        width: 100%; }
.cern-view-display-page.cern-view-display-faq_page .view-header {
  display: inline;
  margin: 0 0 0 0%;
  position: relative;
  top: -30px;
  left: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  font-weight: bold; }

/* @media only screen and (max-width: 1199px) {
		.cern-view-display-page.cern-view-display-faq_page {
			.view-filters {
				margin: 0 auto;
				.view-header {
					display: none;
				}
			}
		}
	}	 */
@media only screen and (max-width: 991px) {
  .cern-view-display-page.cern-view-display-faq_page .view-filters {
    width: 100%;
    margin: 0 auto; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters .form-inline .form-group {
      display: inline-block; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child {
      margin: 10px 5px; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child > input {
        width: 100%; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child:before {
        left: -5px; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(2) {
      margin: 0 0 0 16%;
      width: 27%; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(3) {
      width: 27%; }
  .cern-view-display-page.cern-view-display-faq_page .view-header {
    /* width: 100%; */
    margin: 0 0 0 0; } }
@media only screen and (max-width: 500px) {
  .cern-view-display-page.cern-view-display-faq_page .view-filters {
    width: 100%;
    margin: 0 auto; }
    .cern-view-display-page.cern-view-display-faq_page .view-filters form {
      width: 100%;
      margin: 0 auto; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child {
        margin: 10px 0 15px;
        width: 100%; }
        .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child > input {
          width: 100%; }
        .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:first-child:before {
          left: -5px; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-inline .form-group {
        display: block; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(2),
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-item:nth-child(3) {
        width: 100%;
        margin: 10px 0; }
      .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-actions {
        width: 100%;
        text-align: right;
        margin: 10px 0; }
        .cern-view-display-page.cern-view-display-faq_page .view-filters form .form-actions button {
          width: auto; }
  .cern-view-display-page.cern-view-display-faq_page .view-header {
    display: none; } }
