.resources-mosaic {
  position: relative;
}
.resources-mosaic .view-header p {
  text-align: right;
}
.resources-mosaic .view-header p a.cbox-element-page {
  font-weight: bold;
}
.resources-mosaic .view-header p a.cbox-element-page::before {
  content: "U";
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 35px;
  font-weight: bold;
  line-height: 35px;
  position: relative;
  left: -10px;
  top: 11px;
}
@media only screen and (min-width: 992px) {
  .resources-mosaic .view-content .owl-stage-outer {
    max-height: 470px;
  }
}
@media only screen and (min-width: 501px) {
  .resources-mosaic .view-content .owl-stage-outer {
    max-height: 690px;
  }
}
@media only screen and (max-width: 500px) {
  .resources-mosaic .view-content .owl-stage-outer {
    max-height: 1365px;
  }
}
.resources-mosaic .view-content .owl-dots {
  margin-top: 3rem;
}
.resources-mosaic .view-content .owl-item.active .carousel-cern-item {
  margin: 0 -8px;
}
.resources-mosaic .view-content .owl-item .views-row {
  float: left;
  margin: 8px;
}
.resources-mosaic .view-content .owl-item .views-row .views-field,
.resources-mosaic .view-content .owl-item .views-row .box-pattern {
  height: 100% !important;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.resources-mosaic .view-content .owl-item .views-row .views-field .component-preview-cards__box_wrapper .component-preview-cards__box *:not(.component-preview-cards__category-icon-vocabulary),
.resources-mosaic .view-content .owl-item .views-row .box-pattern .component-preview-cards__box_wrapper .component-preview-cards__box *:not(.component-preview-cards__category-icon-vocabulary) {
  display: none;
}
.resources-mosaic .view-content .owl-item .views-row .cbox-element {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.resources-mosaic .view-content .owl-item .views-row .cbox-element {
  display: none;
}
.resources-mosaic .view-content .owl-item .views-row:nth-child(1) {
  height: 436px;
  width: calc(33.33% - 16px);
}
.resources-mosaic .view-content .owl-item .views-row:nth-child(1) .component-preview-cards__category-icon-vocabulary {
  position: absolute;
  top: 160px;
  width: 99%;
}
@media only screen and (max-width: 991px) {
  .resources-mosaic .view-content .owl-item .views-row:nth-child(1) .component-preview-cards__category-icon-vocabulary {
    top: 45px;
  }
}
.resources-mosaic .view-content .owl-item .views-row:nth-child(2),
.resources-mosaic .view-content .owl-item .views-row:nth-child(3) {
  height: 210px;
  width: calc(33.33% - 16px);
}
.resources-mosaic .view-content .owl-item .views-row:nth-child(2) .component-preview-cards__category-icon-vocabulary,
.resources-mosaic .view-content .owl-item .views-row:nth-child(3) .component-preview-cards__category-icon-vocabulary {
  position: absolute;
  top: 45px;
  width: 99%;
}
.resources-mosaic .view-content .owl-item .views-row:nth-child(4),
.resources-mosaic .view-content .owl-item .views-row:nth-child(5),
.resources-mosaic .view-content .owl-item .views-row:nth-child(6) {
  height: 210px;
  width: calc(22.22% - 16px);
}
.resources-mosaic .view-content .owl-item .views-row:nth-child(4) .component-preview-cards__category-icon-vocabulary,
.resources-mosaic .view-content .owl-item .views-row:nth-child(5) .component-preview-cards__category-icon-vocabulary,
.resources-mosaic .view-content .owl-item .views-row:nth-child(6) .component-preview-cards__category-icon-vocabulary {
  position: absolute;
  top: 45px;
  width: 99%;
}

@media only screen and (max-width: 991px) {
  .resources-mosaic .views-row {
    width: calc(50% - 16px) !important;
    height: 210px !important;
  }
}
@media only screen and (max-width: 500px) {
  .resources-mosaic .views-row {
    width: calc(100% - 16px) !important;
    height: 210px !important;
  }
}
@media screen and (min-width: 992px) {
  .events-collision {
    padding: 0 100px;
  }
}
.events-collision .view-content.owl-carousel:before {
  content: ' ';
  height: 2px;
  width: 4000px;
  display: block;
  position: absolute;
  top: 7px;
  background: transparent;
  left: -1500px;
  border-top: 2px dotted #e6e6e6;
}
.events-collision > h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
}
.events-collision .more-link {
  text-align: right;
  margin-top: 0rem;
}
@media screen and (min-width: 992px) {
  .events-collision .more-link {
    margin-right: -95px;
  }
}
.events-collision .more-link a {
  position: relative;
  padding-right: 15px;
  font-weight: bold;
}
.events-collision .more-link a:after {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -khtml-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  content: '\j';
  font-size: 40px;
  font-size: 4rem;
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 1px;
  right: 0px;
  left: auto;
  line-height: 19px;
  width: 9px;
  text-indent: -16px;
}
.events-collision .more-link a:hover:after {
  right: -5px;
  left: auto;
}
.events-collision .owl-nav {
  position: relative;
}
@media screen and (min-width: 992px) {
  .events-collision .owl-nav {
    margin: 0 -100px;
  }
}
.events-collision .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  top: -200px;
  background: transparent;
}
.events-collision .owl-nav .owl-prev:after {
  content: 'd';
  display: block;
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
}
.events-collision .owl-nav .owl-prev.disabled:after {
  color: black;
}
.events-collision .owl-nav .owl-prev:hover {
  background: transparent;
}
.events-collision .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: -200px;
  background: transparent;
}
.events-collision .owl-nav .owl-next:after {
  content: 'c';
  display: block;
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 40px;
}
.events-collision .owl-nav .owl-next.disabled:after {
  color: black;
}
.events-collision .owl-nav .owl-next:hover {
  background: transparent;
}
@media screen and (max-width: 991px) {
  .events-collision .owl-nav {
    margin: 15px;
  }
  .events-collision .owl-nav .owl-prev {
    position: static;
  }
  .events-collision .owl-nav .owl-next {
    position: static;
  }
}
.events-collision .agenda-box-pattern {
  padding: 20px 32px;
  background: transparent !important;
}
.events-collision .agenda-box-pattern * {
  color: black;
}
.events-collision .agenda-box-pattern:before {
  content: " " close-quote;
  width: 0;
  height: 0;
  border: 4px solid #cacaca;
  display: block;
  border-radius: 100%;
  position: absolute;
  top: 0px;
}
.events-collision .agenda-box-pattern .agenda-box-pattern__box-wrapper {
  align-self: flex-start;
}
.events-collision .agenda-box-pattern .agenda-box-event-time,
.events-collision .agenda-box-pattern .agenda-box-cal-wrapper {
  display: none;
}
.events-collision .agenda-box-pattern .agenda-box-date-wrapper .agenda-box-week-day {
  display: none;
}

@media screen and (max-width: 991px) {
  .events-collision .view-content.owl-carousel:before {
    content: none;
  }
  .events-collision .owl-item:not(.active) * {
    display: none;
  }
  .events-collision .owl-item.active .carousel-cern-item.row .views-row {
    height: auto !important;
  }
  .events-collision .owl-item.active .carousel-cern-item.row .views-row .agenda-box-pattern {
    min-height: 0 !important;
  }
  .events-collision .owl-item.active .carousel-cern-item.row .views-row .agenda-box-pattern:before {
    content: none;
  }
}
@media screen and (max-width: 767px) {
  .events-collision .owl-item.active .carousel-cern-item.row:before {
    left: 35px;
  }
}
@media screen and (max-width: 991px) {
  .bubbly-button {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .bubbly-button {
    display: inline-block;
    padding: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: white;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    top: 4px;
    left: 0;
    margin-left: calc(33.333333% + 36px);
    z-index: 1;
    position: absolute;
  }
  .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before {
    position: absolute;
    content: '';
    display: block;
    width: 200px;
    height: 100px;
    left: -95px;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:after {
    position: absolute;
    content: '';
    display: block;
    width: 140px;
    height: 50px;
    left: -65px;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    animation: none;
    top: -80px;
    background-size: 10% 10%, 15% 15%, 12% 12%, 10% 10%, 14% 14%, 10% 10%, 15% 15%, 10% 10%, 14% 14%;
  }
  .bubbly-button:after {
    display: none;
    animation: none;
    top: 0;
    background-size: 22% 22%, 28% 28%, 28% 28%, 25% 25%, 20% 20%, 28% 28%, 20% 20%, 30% 30%, 30% 30%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
  }
  .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles cubic-bezier(0.19, 1, 0.22, 1) 2s forwards;
  }

  @keyframes topBubbles {
    0% {
      background-position: 50% 90%, 50% 90%, 50% 90%, 50% 90%, 50% 90%, 50% 90%, 50% 90%, 55% 90%, 50% 90%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 50% -10%, 50% 10%, 50% 10%, 55% -10%, 50% -10%, 50% -10%, 50% -10%, 50% 0%, 50% 0%;
    }
    65% {
      opacity: 1;
      background-size: 0% 0%, 0% 0%, 10% 10%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 10% 10%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 19% 92%, 45% 70%, 60% 120%, 75% 80%, 95% 70%, 105% 10%, 105% 6%;
      opacity: 0;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
}
.featured-banner .view-header h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 3rem;
}
.featured-banner .view-footer {
  text-align: right;
  margin-top: 3rem;
}
.featured-banner .view-footer a {
  position: relative;
  padding-right: 15px;
  font-weight: bold;
}
.featured-banner .view-footer a:after {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -khtml-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  content: '\j';
  font-size: 40px;
  font-size: 4rem;
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  top: 1px;
  right: 0px;
  left: auto;
  line-height: 19px;
  width: 9px;
  text-indent: -16px;
}
.featured-banner .view-footer a:hover:after {
  right: -5px;
  left: auto;
}
.featured-banner .view-content .carousel-cern-item.row .views-row {
  float: left;
}
.featured-banner .view-content,
.featured-banner .carousel-cern-item.row {
  margin: 0 -8px;
}
.featured-banner .view-content .views-row,
.featured-banner .carousel-cern-item.row .views-row {
  margin: 8px;
  width: calc(33.333% - 16px);
  float: left;
}
.featured-banner .view-content .views-row .component-preview-cards,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards {
  margin: 0;
  width: 100%;
  background-color: white;
  margin-top: 40px;
  min-height: 0;
}
.featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper {
  min-height: 0;
  height: auto;
}
.featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 {
  margin: 10px 0;
}
.featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a {
  color: white;
}
.featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category, .featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date, .featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author {
  color: white;
  font-weight: 200;
}
.featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a, .featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a, .featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a {
  color: white;
  font-weight: 200;
}
.featured-banner .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
.featured-banner .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar {
  width: 65px !important;
  height: 65px !important;
  min-height: 0;
  background: #999999;
  border-radius: 100%;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .featured-banner .view-content .views-row {
    width: calc(100% - 16px) !important;
    height: 210px !important;
  }
  .featured-banner .view-content .views-row .component-preview-cards {
    height: 100% !important;
  }
  .featured-banner .view-content .views-row .component-preview-cards {
    margin-top: 0;
    width: 40%;
  }
}
@media only screen and (max-width: 767px) {
  .featured-banner .view-content .views-row .component-preview-cards {
    width: 90%;
  }
}
.horizontal-boxes div {
  word-wrap: break-word;
}
.horizontal-boxes .owl-stage {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  -moz-justify-content: stretch;
  -ms-justify-content: stretch;
  justify-content: stretch;
  -ms-flex-pack: stretch;
}
.horizontal-boxes .carousel-cern-item {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  -moz-justify-content: stretch;
  -ms-justify-content: stretch;
  justify-content: stretch;
  -ms-flex-pack: stretch;
}
.horizontal-boxes .carousel-cern-item .views-row {
  height: auto;
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -webkit-justify-content: stretch;
  -moz-justify-content: stretch;
  -ms-justify-content: stretch;
  justify-content: stretch;
  -ms-flex-pack: stretch;
}
.horizontal-boxes .carousel-cern-item .views-row > div {
  min-height: 100%;
}
.horizontal-boxes .carousel-cern-item .views-row .box-pattern > div {
  min-height: 100%;
  height: auto;
}

@media only screen and (max-width: 991px) {
  .horizontal-boxes .carousel-cern-item {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .horizontal-boxes .carousel-cern-item .views-row {
    margin: 0 0 8px;
  }
  .horizontal-boxes .carousel-cern-item .views-row > div {
    height: 33vh;
  }
}
.vertical-boxes div {
  word-wrap: break-word;
}

.teaser-list div {
  word-wrap: break-word;
}
.teaser-list > h1 {
  margin: 3rem 0 !important;
  text-align: center;
}
.teaser-list .wrapper-center > h1, .teaser-list > h1 {
  margin: 3rem 0 !important;
  text-align: center;
}
.teaser-list .views-exposed-form .form-inline {
  margin: 0 -10px;
}
.teaser-list .views-exposed-form .form-inline .form-item {
  vertical-align: top;
}
.teaser-list .views-exposed-form .form-inline .form-item:first-child {
  display: block;
  text-align: center;
  position: relative;
}
.teaser-list .views-exposed-form .form-inline .form-item:first-child > input {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 40px;
  padding-left: 40px;
}
.teaser-list .views-exposed-form .form-inline .form-item:first-child:before {
  content: 'O';
  font-family: "cern-icons";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  left: 8px;
  width: 25px;
  height: 25px;
  top: 8px;
  text-align: center;
  line-height: 21px;
  font-weight: 500;
  padding-right: 2px;
  font-size: 46px;
  color: #0855a0;
}
.teaser-list .views-exposed-form .form-inline .form-item > input {
  display: block;
}
.teaser-list .views-exposed-form .form-inline .form-item:not(:first-child) {
  width: calc((100% / 7) - 20px) !important;
  margin: 10px !important;
}
.teaser-list .views-exposed-form .form-inline .form-item:not(:first-child) input {
  width: 100%;
}
.teaser-list .views-exposed-form .form-inline .form-item:not(:first-child) div.select-wrapper select {
  width: 100%;
}
.teaser-list .views-exposed-form .form-inline .form-actions {
  width: calc((100% / 7) - 40px) !important;
  margin: 10px !important;
  vertical-align: bottom !important;
  text-align: right !important;
}
.teaser-list .views-exposed-form .form-inline .form-actions button {
  width: 100%;
}
.teaser-list .view-header {
  margin: 50px 0;
  text-transform: uppercase;
  font-family: "opensans-bold";
}
.teaser-list .view-header a {
  position: relative;
}
.teaser-list .view-header a.active:after {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #0855a0;
  bottom: -2px;
  left: 0;
}
.teaser-list .view-footer {
  text-align: right;
}
.teaser-list .view-content {
  margin: 0 -15px;
}
.teaser-list .view-content .views-row {
  margin-bottom: 15px;
  width: 100%;
  float: none;
  margin: 0 15px 30px;
}

@media only screen and (max-width: 991px) {
  .teaser-list .views-exposed-form .form-inline .form-item {
    display: inline-block;
  }
  .teaser-list .views-exposed-form .form-inline .form-item:first-child {
    margin: 10px 5px 10px 5px;
  }
  .teaser-list .views-exposed-form .form-inline .form-item:first-child:before {
    left: 0px;
  }
  .teaser-list .views-exposed-form .form-inline .form-item:not(:first-child) {
    width: calc((100% / 3) - 23px) !important;
  }
  .teaser-list .views-exposed-form .form-inline .form-actions {
    display: inline-block;
    text-align: right;
    width: calc(100% - 20px) !important;
  }
  .teaser-list .views-exposed-form .form-inline .form-actions button {
    width: calc((100% / 3) - 23px) !important;
  }
}
@media only screen and (max-width: 767px) {
  .teaser-list .view-header {
    margin-bottom: 25px;
  }

  .teaser-list .view-content {
    margin: 0;
  }
  .teaser-list .view-content .views-row {
    margin: 0 0 16px 0 !important;
  }
  .teaser-list .view-content .views-row .views-field .field-content {
    display: block;
  }
  .teaser-list .view-content .views-row .views-field .field-content .box-pattern {
    float: none !important;
  }
}
@media only screen and (max-width: 500px) {
  .teaser-list .views-exposed-form .form-inline {
    margin: 0;
  }
  .teaser-list .views-exposed-form .form-inline .form-item:first-child > input {
    width: 100%;
  }
  .teaser-list .views-exposed-form .form-inline .form-item:first-child:before {
    left: -5px;
  }
  .teaser-list .views-exposed-form .form-inline .form-item:not(:first-child), .teaser-list .views-exposed-form .form-inline .form-item:first-child {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: block !important;
  }
  .teaser-list .views-exposed-form .form-inline .form-actions {
    display: block !important;
    width: 100% !important;
    margin: 0px !important;
  }
  .teaser-list .views-exposed-form .form-inline .form-actions button {
    width: auto !important;
  }
  .teaser-list .view-content .views-row {
    margin: 0 0 25px 0;
  }
}
.vertical-boxes .box-pattern h3,
.horizontal-boxes .box-pattern h3,
.featured-banner .box-pattern h3,
.resources-mosaic .box-pattern h3,
.events-collision .box-pattern h3,
.events-countdown .box-pattern h3,
.teaser-list .box-pattern h3 {
  font-size: 20px !important;
}
.vertical-boxes .box-pattern h3 a,
.horizontal-boxes .box-pattern h3 a,
.featured-banner .box-pattern h3 a,
.resources-mosaic .box-pattern h3 a,
.events-collision .box-pattern h3 a,
.events-countdown .box-pattern h3 a,
.teaser-list .box-pattern h3 a {
  font-size: 20px !important;
}
.vertical-boxes .box-pattern h3 a *,
.horizontal-boxes .box-pattern h3 a *,
.featured-banner .box-pattern h3 a *,
.resources-mosaic .box-pattern h3 a *,
.events-collision .box-pattern h3 a *,
.events-countdown .box-pattern h3 a *,
.teaser-list .box-pattern h3 a * {
  font-size: 20px !important;
  line-height: 28px !important;
}
.vertical-boxes .select-wrapper::before,
.horizontal-boxes .select-wrapper::before,
.featured-banner .select-wrapper::before,
.resources-mosaic .select-wrapper::before,
.events-collision .select-wrapper::before,
.events-countdown .select-wrapper::before,
.teaser-list .select-wrapper::before {
  border-width: 0;
  border-color: transparent;
}
.vertical-boxes .component-preview-cards .component-preview-cards__category-icon-vocabulary,
.horizontal-boxes .component-preview-cards .component-preview-cards__category-icon-vocabulary,
.featured-banner .component-preview-cards .component-preview-cards__category-icon-vocabulary,
.resources-mosaic .component-preview-cards .component-preview-cards__category-icon-vocabulary,
.events-collision .component-preview-cards .component-preview-cards__category-icon-vocabulary,
.events-countdown .component-preview-cards .component-preview-cards__category-icon-vocabulary,
.teaser-list .component-preview-cards .component-preview-cards__category-icon-vocabulary {
  position: absolute;
  top: calc(50% - 50px);
  line-height: 50px;
  width: 100%;
}
.vertical-boxes .component-preview-cards .component-preview-cards__category-icon-vocabulary::before,
.horizontal-boxes .component-preview-cards .component-preview-cards__category-icon-vocabulary::before,
.featured-banner .component-preview-cards .component-preview-cards__category-icon-vocabulary::before,
.resources-mosaic .component-preview-cards .component-preview-cards__category-icon-vocabulary::before,
.events-collision .component-preview-cards .component-preview-cards__category-icon-vocabulary::before,
.events-countdown .component-preview-cards .component-preview-cards__category-icon-vocabulary::before,
.teaser-list .component-preview-cards .component-preview-cards__category-icon-vocabulary::before {
  top: 0;
  line-height: 50px;
}
.vertical-boxes .preview-list-news-info,
.horizontal-boxes .preview-list-news-info,
.featured-banner .preview-list-news-info,
.resources-mosaic .preview-list-news-info,
.events-collision .preview-list-news-info,
.events-countdown .preview-list-news-info,
.teaser-list .preview-list-news-info {
  font-size: 16px;
  font-size: 1.6rem;
}
