{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}

{% set viewtype = create_attribute() %}

  {% for row in rows %}

    {% if row.attributes.hasClass('events-collision-row') %}
      {% set viewtype = "events-collision" %}
    {% endif %}

    {% if row.attributes.hasClass('horizontal-boxes-row') %}
      {% set viewtype = "horizontal-boxes" %}
    {% endif %}

  {% endfor %}

  {% if viewtype == "events-collision" %}
  
    {% for row in rows %}
      {% set row_classes = [default_row_class ? 'views-row col-md-4',] %}
      {% if loop.first != true and loop.index0  is divisible by(3) %}
        </div>
      {% endif %}
      {% if loop.index0 is divisible by(3) %}
        <div class="carousel-cern-item row">
      {% endif %}
      <div{{ row.attributes.addClass(row_classes) }}>{{ row.content }}</div>
      {% if loop.last == true %}
        </div>
      {% endif %}
    {% endfor %}
  
  {% elseif viewtype == "horizontal-boxes" %}
  
    {% for row in rows %}
      {% set row_classes = [default_row_class ? 'views-row col-md-4',] %}
      {% if loop.first != true and loop.index0  is divisible by(3) %}
        </div>
      {% endif %}
      {% if loop.index0 is divisible by(3) %}
        <div class="carousel-cern-item row">
      {% endif %}
      <div{{ row.attributes.addClass(row_classes) }}>{{ row.content }}</div>
      {% if loop.last == true %}
        </div>
      {% endif %}
    {% endfor %}

  {% else %}

    {% for row in rows %}
      {%
        set row_classes = [
          default_row_class ? 'views-row',
        ]
      %}
      <div{{ row.attributes.addClass(row_classes) }}>
        {{ row.content }}
      </div>
    {% endfor %}

  {% endif %}








