// out: ../css/layout.css, compress: false, sourceMap: false, autoprefixer: false, groupmedia: false
// mixins variables
@import 'variables.scss';

//content
.wrapper-center {
  padding: 0 3%;
}

.sidebar-left,
.sidebar-right {
  margin: 30px 0 0;
}

.page-node-type-landing-page {
  .wrapper-center {
    padding: 0;

    &.col-md-9,
    &.col-md-6 {
      width: 100%;
    }
  }

  .sidebar-left,
  .sidebar-right {
    display: none;
  }
}

@media only screen and (max-width: 991px) {

  .sidebar-left,
  .sidebar-right {
    padding: 0 3%;
  }
}

// language switcher on main
main {
  .block-language {
    padding: 0 0 5px;

    &>.links {
      @include box-shadow(0, 0, 0, rgba(0, 0, 0, 0));
      @include opacity(1);
      display: block;
      margin: 0 0 0 10px;
      padding: 0;
      float: right;
      position: static;

      &>li {
        float: left;
        list-style-type: none;
        margin-bottom: -1px;
        margin: 0;
        padding: 4px;
      }

      &>li>a {
        margin-right: 2px;
        line-height: 1.428571429;
        border: 1px solid transparent;
        border-radius: 0;
        padding: 0 5px;
      }

      &:before {
        display: none;
      }
    }
  }
}

.has-header {
  main {
    .block-language {
      position: absolute !important;
      top: 100vh;
      margin: auto;
      max-width: 1100px;
      width: 100%;
      z-index: 10;
      right: 0;
      left: 0;
      padding: 5px 10px;
    }
  }

  &.toolbar-fixed {
    main {
      .block-language {
        top: calc(100vh - 39px);
      }
    }
  }

  &.toolbar-fixed.toolbar-vertical {
    main {
      .block-language {
        top: calc(100vh - 39px);
      }
    }
  }

  &.toolbar-fixed.toolbar-tray-open:not(.toolbar-vertical) {
    main {
      .block-language {
        top: calc(100vh - 78px);
      }
    }
  }

  &.cern-toolbar {
    main {
      .block-language {
        top: calc(100vh - 40px);
      }
    }
  }

  &.cern-toolbar.toolbar-fixed {
    main {
      .block-language {
        top: calc(100vh - 79px);
      }
    }
  }

  &.cern-toolbar.toolbar-fixed.toolbar-vertical {
    main {
      .block-language {
        top: calc(100vh - 79px);
      }
    }
  }

  &.cern-toolbar.toolbar-tray-open:not(.toolbar-vertical) {
    main {
      .block-language {
        top: calc(100vh - 118px);
      }
    }
  }
}

//footer
.footer-last-logo {
  @include opacity(0.6);
}

@media only screen and (max-width: 767px) {
  body>footer {
    .footer-last-logo {
      margin: auto;
      float: none;
      min-width: 60px;
    }
  }
}

@media only screen and (max-width: 1140px) {
  body>footer {
    padding: 55px 3%;
  }
}

@media only screen and (max-width: 980px) {
  body>footer {
    padding: 3%;
  }

  .footer-wrapper {

    div[class*="footercolumn1"],
    div[class*="footercolumn2"],
    div[class*="footercolumn3"],
    div[class*="footercolumn4"] {
      margin: 0 0 20px;
      width: 100%;

      &:after {
        display: none;
      }
    }
  }

  body>footer .field--name-field-visible-title:after,
  body>footer nav>h2:after {
    width: 100%;
  }
}
